/ {
    aliases {
        camera0 = &fake_cam;
    };

    fake_cam: fake_camera {
        compatible = "zephyr,fake-camera";
        status = "okay";
    };

    zephyr_greybus {
        compatible = "zephyr,greybus";
        status = "okay";
        
        bundle_camera: bundle_camera {
            compatible = "zephyr,greybus-bundle-camera";
            status = "okay";
            /* This is the magic property our macro loops over! */
            cameras = <&fake_cam>; 
        };
    };
};
