/ {
    aliases {
        camera0 = &fake_cam;
    };

    fake_cam: fake_camera {
        compatible = "zephyr,fake-camera";
        status = "okay";
    };

    zephyr_greybus {
        compatible = "zephyr,greybus";
        status = "okay";
        
        //add bundle and cport once the greybus handlers written
    };
};
